* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    background: rgba(255, 255, 255, 0.1);
}

body {
    margin-top: 62px;
    background-color: #eceff1;
}

.topBar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #283593;
    box-shadow: none;
    z-index: 500;
    height: 60px;
    font-size: 25px;
    transition: box-shadow 0.5s;
}

.topBar.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #283593;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    z-index: 500;
}

.topBar * {
    margin-top: 15px;
    color: white;
    text-decoration: none;
}

.topBar .logo {
    color: white;
    float: left;
    margin-left: 15px;
}

.topBar .playersalive {
    margin-top: 19px;
    float: right;
    font-size: 18px;
    padding-right: 30px;
}

.topBar .home {
    margin-top: 19px;
    float: right;
    font-size: 18px;
    margin-right: 15px;
}

.topBar .home:hover {
    color: #f0f0f0;
}

.header {
    margin-top: 130px;
    height: 250px;
    background-color: #3f51b5;
    display: grid;
    text-align: center;
    align-items: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.header h1 {
    font-size: 80px;
}

.header .regions {
    text-transform: uppercase;
    display: flex;
    width: 800px;
    letter-spacing: 1px;
    margin-bottom: -21px;
}

.header .region {
    width: 33%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    letter-spacing: 1px;
    margin-left: 10px;
    text-align: center;
    font-weight: 600;
    border-bottom: 3px solid rgba(0,0,0,0);
    cursor: pointer;
}

.header .region.selected {
    border-bottom: 3px solid white;
}

.header .region:hover {
    background: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background 0.2s;
}

.header .region:active {
    background: rgba(255, 255, 255, 0.25);
    transition: background 0.2s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gamemodes {
    max-width: 800px;
    background: #fff;
    margin: 10px;
    text-align: left;
    position: relative;
    position: relative;
    display: inline-block;
    width: calc(100% - 1rem);
    max-width: 46rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.gamemodes .gamemode {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.gamemodes .gamemode .playBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s;
}

.gamemodes .gamemode .playBtn:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 3.5px 3.5px -2px rgba(0,0,0,.3), 0 3.5px 4px 0 rgba(0,0,0,.24), 0 1px 8px 0 rgba(0,0,0,.22);
}

.gamemodes .gamemode .info p {
    position: absolute;
    right: 40px;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
}

.gamemodes .gamemode:hover {
    background-color: rgba(0,0,0,.05);
}

.gamemodes .gamemode:active {
    background-color: rgba(0,0,0,.1);;
}

.gamemodes .gamemode .description .players {
    color: rgba(0,0,0,.4);
}

.gamemodes .gamemode .info::before {
    transition: background-color 1s;
}

.gamemodes .gamemode .info:hover::before {
    content: '';
    transition: background 0.2s;
    position: absolute;
    right: 27px;
    border-radius: 50%;
    transform: translateY(-24px);
    width: 50px;
    height: 50px;
    background: rgba(27, 3, 243, 0.1);
}

.gamemodes .gamemode .info:active::before {
    background: rgba(27, 3, 243, 0.2);
}
